<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQDFvnulVLPK_PYsmS-IHdUVmVB2ZHfsk</string>
	<key>GCM_SENDER_ID</key>
	<string>1015172113303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schatapp</string>
	<key>PROJECT_ID</key>
	<string>schatapp-c0f40</string>
	<key>STORAGE_BUCKET</key>
	<string>schatapp-c0f40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015172113303:ios:bad9b29741c671ade59ad2</string>
</dict>
</plist>